<% content_for :title, "Editing calculator" %>

<h1>Editing calculator</h1>

<%= render "form", calculator: @calculator %>

<br>

<div>
  <%= link_to "Show this calculator", @calculator %> |
  <%= link_to "Back to calculators", calculators_path %>
</div>
